<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta property="og:type"          content="website" />
	<meta property="og:title"         content="【阿噗購物】訂單確認-購物，從阿噗開始" />
	<meta property="og:description"   content="阿噗特賣，您的穿搭生活頻道。主營：女裝、男裝、鞋包配飾、美妝護膚、家居生活。滿HK$200享8折價 / 支持貨到付款 / 官方自營 / 100%正品保障 / 7天無憂退換貨。" />
    <meta property="og:image"         content="https://d3o2c7bn83e5x8.cloudfront.net/image/shareIcon.jpg" />
    <meta name="description" content="阿噗特賣，您的穿搭生活頻道。主營：女裝、男裝、鞋包配飾、美妝護膚、家居生活。滿HK$200享8折價 / 支持貨到付款 / 官方自營 / 100%正品保障 / 7天無憂退換貨。!">
    <!-- <link rel="icon" sizes="192x192" href="https://d3o2c7bn83e5x8.cloudfront.net/image/shareIcon-mini.jpg"> -->
    <link rel="shortcut icon" href="https://d3o2c7bn83e5x8.cloudfront.net/image/favicon.ico" type="image/x-icon" />
    <title>阿噗購物</title>
    <!-- 双核浏览器 优先使用 webkit打开 -->
    <meta name="renderer" content="webkit">
    <!-- 开发单页面专用start -->
        <!-- vue框架 -->
        <!-- 开发环境 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 生产环境 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <!-- 公共js -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src='../js/singlePage/common.js'></script>
        <!-- 公共css -->
        <link rel="stylesheet" href="../css/singlePage/common.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <!-- 开发单页面专用end -->
    <script src="https://d3o2c7bn83e5x8.cloudfront.net/dist/Swiper/js/swiper.min.js"></script>
    <link rel="stylesheet" href="https://d3o2c7bn83e5x8.cloudfront.net/dist/Swiper/css/swiper.min.css">
    <!-- 複製功能js -->
    <script src="https://d3o2c7bn83e5x8.cloudfront.net/dist/clipboard/dist/clipboard.min.js"></script>
    <link rel="stylesheet" href="../css/singlePage/orderSuccess.css">
</head>
<body>
    <div id="orderSuccess">
        <!-- 头部广告条 -->
        <div class='gradle-img' @click="join91Up">
            <div class="gradle-img-in">
                <div class="gradle-img-l">
                    <img src="../image/success-logo.jpg" alt="">
                </div>
                <div class="gradle-img-r">
                    {{resultText}}
                </div>
            </div>
        </div>
        <!-- --------- -->
        <!-- 訂單成功信息 -->
        <div class='orderInfo'>
            <div class='success-info'>
                <div class="success-info-l">
                    <img src="../image/single-success.png" alt="">
                </div>
                <div class="success-info-r">
                    <h4>恭喜您，訂購成功</h4>
                    <p>
                        可進入商城通過 <span>手機號</span> 查詢訂單喔
                    </p>
                </div>
            </div>
            <div class="order-all-info">
                <div class="order-all-info-h">
                    <h4>訂單號：{{orderid}}  <span class='mdui-btn-copy' :data-clipboard-text='orderid'>複製</span></h4>
                    <p>共{{productNumber}}件商品&nbsp;&nbsp;{{createdAt}}</p>
                    <span class='kefu'>
                        <a :href="kfUrl" target="_blank">
                            <img src="../image/kefu.png" alt="">
                            客服
                        </a>
                    </span>
                </div>
                <div class='order-line'></div>
                <div class="order-all-info-c">
                    收件人：<br>
                    {{reciveUserInfo.consignee}} {{reciveUserInfo.tel}} <br>
                    {{reciveUserInfo.address}} 
                    <span v-if="reciveUserInfo.addIfneed"> (管理室待收) </span>
                </div>
                <div class='order-all-info-imglist'>
                    <a href="javascript:;" v-for="(itemPro, index) in orderSuccess.orderProducts" @click="joinSingle(itemPro.productId)">
                        <img :src="itemPro.productImageUrl" alt="">
                        <span>{{itemPro.quantity}}件</span>
                    </a>
                </div>
                <div class='order-line'></div>
                <div class="order-all-info-panel">
                    <p class="info-price">
                        共{{productNumber}}件商品： <i>HK${{orderSuccess.originalTotalPrice}}</i>
                    </p>
                    <p class="info-price">
                        運費： <i>HK$0</i>
                    </p>
                    <!-- <p class="info-price" v-if="orderSuccess.paymentType == 3">
                        信用卡支付，隨機立減： <i>-HK${{orderSuccess.randomReductionPrice}}</i>
                    </p> -->
                </div>
                <div class='order-line'></div>
                <div class="order-all-info-result-price">
                    <p class="info-price">
                        實際<span v-if="orderSuccess.paymentType == 3">支付</span><span v-if="orderSuccess.paymentType == 1">應付</span><i>HK${{orderSuccess.discountTotalPrice}}</i>
                    </p>
                </div>
            </div>
        </div>
        <!-- --------- ---->
        <!-- 聯繫我們 ------>
        <div class='order-chat'>
            <p>如果您有任何售後問題，可以通過以下方式聯繫我們</p>
            <table>
                <tbody>
                    <tr>
                        <td>方式</td>
                        <td>帳號ID/號碼</td>
                        <td>操作</td>
                    </tr>
                    <tr>
                        <td>Messenger</td>
                        <td>BuyT</td>
                        <td><span class='mdui-btn-copy' data-clipboard-text='阿噗特賣'>複製</span></td>
                    </tr>
                    <tr>
                        <td>Line</td>
                        <td>@607zepoa</td>
                        <td><span class='mdui-btn-copy' data-clipboard-text='@607zepoa'>複製</span></td>
                    </tr>
                    <tr>
                        <td>客服電話</td>
                        <td>+852 6995 3332</td>
                        <td>
                            <a href="tel:+852 65287866">
                                <span class='mdui-btn-copy'>撥打</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ----------- -->
        <!-- 猜你喜歡 -->
        <div class='order-h' v-if='popularInfo.length > 0'>
            猜你喜歡
        </div>
        <div class='guess-like-pro' v-if='popularInfo.length > 0'>
            <li class="guess-like-pro-li" v-for="(simItem, index) in similarInfo" :key="index" @click="joinApu(simItem)">
                <a href="javascript:;"><img :src="simItem.product_sku_img" alt=""></a>
                <div class='like-text-info'>
                    <span class="like-title">{{simItem.title}}</span>
                    <!-- <div class='like-logo'>
                        <i>多色可選</i>
                        <i>ins熱搜</i>
                    </div> -->
                    <div class='like-price'>
                        8折價HK$<i>{{simItem.min_price}}</i><s>HK${{simItem.original_price}}</s>
                    </div>
                    <div class='like-default'>
                        <button>限時出清</button>
                        <span>{{simItem.hasquality}}件已出</span>
                    </div>
                </div>
            </li>
        </div>
        <!-- ----------- -->
        <!-- 人氣推薦 -->
        <div class='order-h' v-if='popularInfo.length > 0'>
            人氣推薦
        </div>
        <div class='guess-like-pro' v-if='popularInfo.length > 0'>
            <li class="guess-like-pro-li" v-for="(itemPopu, index) in popularInfo">
                <a href="javascript:;"><img :src="itemPopu.product_sku_img" alt=""></a>
                <div class='like-text-info'>
                    <span class="like-title">{{itemPopu.title}}</span>
                    <div class='like-logo'>
                        <!-- <i>多色可選</i>
                        <i>ins熱搜</i> -->
                    </div>
                    <div class='like-price'>
                        8折價HK$<i>{{itemPopu.min_price}}</i><s>HK${{itemPopu.original_price}}</s>
                    </div>
                    <div class='like-default'>
                        <button @click="joinApu(itemPopu)">限時出清</button>
                        <span>{{itemPopu.hasquality}}件已出</span>
                    </div>
                </div>
            </li>
        </div>
        <!-- -------- -->
        <!-- 提示層 -->
        <div id="tipsFixed" class="animate__animated animate__bounceIn" v-if="tipsIf">
            <span> {{tipsHtml}} </span>
        </div>
    </div>
    <!-- 谷歌監測 -->
    <script>
        singleInfo.addUtJsAsync('https://www.googletagmanager.com/gtag/js?id=' + singleInfo.getGATracking());
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag("config", singleInfo.getGATracking());
        if (singleInfo.getGATracking() != 'UA-117174835-7') {
            gtag("config", 'UA-117174835-7');
        }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(e,n,t,o,c,a,f){e.fbq||(c=e.fbq=function(){c.callMethod?c.callMethod.apply(c,arguments):c.queue.push(arguments)},e._fbq||(e._fbq=c),c.push=c,c.loaded=!0,c.version="2.0",c.queue=[],(a=n.createElement(t)).async=!0,a.src="https://connect.facebook.net/en_US/fbevents.js",(f=n.getElementsByTagName(t)[0]).parentNode.insertBefore(a,f))}(window,document,"script"),fbq("init",commonConfig.getFbPiexId()),fbq("track","PageView");
    </script>
    <script>
        var app = new Vue({
            el:'#orderSuccess',
            data: {
                orderid: singleInfo.getURLParam('code'),
                orderSuccess: [],
                currency:'HKD',
                changeText: 0,
                timeChangeText:'',
                resultText:'進入商城, 查詢訂單',
                tipsHtml:'',
                tipsIf:false,
                createdAt: '', // 下單時間
                productNumber: 0,
                reciveUserInfo: JSON.parse(localStorage.getItem('reciveUserInfo')),// 收件人信息
                hostCustomerMap: null,
                contentIds: [], // 下單單品id
                productItems:[], // 下單成功商品信息
                kfUrl: '',            //客服鏈接
                similarInfo: [],  // 猜你喜歡
                popularInfo: [] // 人氣推薦
            },
            methods: {
                bitweenChange: function(){
                    let that = this;
                    if(that.changeText == 0){
                        that.resultText = "阿噗特賣商城, 點此進入"
                        that.changeText = 1
                    }else{
                        that.resultText = "進入商城, 查詢訂單"
                        that.changeText = 0
                    }
                },
                // 提示
                singleTips: function(title){
                    let that = this
                    that.tipsIf = true
                    that.tipsHtml = title
                    setTimeout(() => {
                        that.tipsIf = false
                    }, 1500)
                },
                joinApu: function(itemData){
                    window.location.href = "https://www.buytapp.com/product/index.html?id=" + itemData.id
                },
                join91Up: function(){
                    window.open("https://www.buytapp.com","_blank");
                },
                joinSingle:function (productId){
                    window.location.href = '/singlePage/index.html?id=' + productId
                }
            },
            beforeCreate: function(){

            },
            created: function(){
                // 查看猜你喜歡和推薦商品
                let that = this
                // 設置客服鏈接地址
                // console.log(singleInfo.getPlatform())
                // (tools.getPlatform() == 'PC' ? "https://www.facebook.com/messages/t/" : "https://m.facebook.com/messages/thread/") + commonConfig.getCustomerIdByHost() + "
                that.kfUrl = (singleInfo.getPlatform() == "PC" ? "https://www.facebook.com/messages/t/" : "https://m.facebook.com/messages/thread/" + singleInfo.getCustomerIdByHost())
                // axios.all([
                //     axios.get(singleInfo.websitePrefix() + ' /api/recommend/similar/' + that.orderid),
                //     axios.get(singleInfo.websitePrefix() + ' /api/recommend/popular')
                // ])
                // .then(axios.spread(function (similarInfo, popularInfo) {
                //     //多个请求现在都执行完成
                //     console.log(similarInfo.data)
                //     console.log(popularInfo.data)
                // }));
                axios.get(singleInfo.websitePrefix() + '/api/recommend/similar/'+ that.orderid).then(res => {
                    // 猜你喜歡
                    that.similarInfo = res.data.body
                    that.similarInfo.map((item, index) => {
                        item.hasquality = singleInfo.getRadomInt()
                    })
                }).catch(error => {

                })
                axios.get(singleInfo.websitePrefix() + '/api/recommend/popular').then(res => {
                    // 人氣推薦
                    that.popularInfo = res.data.body
                    that.popularInfo.map((item, index) => {
                        item.hasquality = singleInfo.getRadomInt()
                    })
                }).catch(error => {
                    // that.singleTips('複製成功')
                })
            },
            mounted: function(){
                this.$nextTick(function(){
                    let that = this
                    // 头部广告交替效果
                    this.timeChangeText = setInterval(this.bitweenChange, 1500);
                    // 訂單信息
                    that.orderSuccess = JSON.parse(localStorage.getItem('orderSuccess')) //成功之後的訂單信息
                    let orderSuccessNew = JSON.parse(localStorage.getItem('orderSuccess'))
                    // console.log(that.orderSuccess)
                    // 下單時間
                    that.createdAt = orderSuccessNew.createdAt
                    // 商品數量
                    orderSuccessNew.orderProducts.forEach((item, index) => {
                        that.productNumber += item.quantity
                        that.contentIds.push(item.productSkuId)
                        that.productItems.push({
                            id : item.productSkuId,
                            name : item.productTitle + '('+ item.productSkuName +')',
                            quantity : item.quantity,
                            item_price : item.discountPrice || item.originalPrice,
                            price : item.discountPrice || item.originalPrice
                        })
                    })
                    // console.log(that.orderSuccess)
                    // 下單成功監測
                    //购买成功。。。
                    var _fbgaparams = {
                        content_type: 'product',
                        transaction_id : that.orderSuccess.code, // 訂單號作為識別的唯一ID
                        value : that.orderSuccess.discountTotalPrice , // 支付價格
                        currency : that.currency,
                        content_name : 'checkout',
                        content_category : 'checkout',
                        content_ids : that.contentIds, //下單id
                        num_items : that.productNumber, // 購買數量
                        contents: that.productItems,
                        items: that.productItems
                    };
                    // newMonitor.addMonitorData(monitorParams);
                    try{
                        fbq('track', 'Purchase' , _fbgaparams);
                        gtag('event', 'Purchase', _fbgaparams);
                        gtag("event", "purchase", _fbgaparams);
                        cacheSessionStorage.removeCache('_fbgaparams');
                        cacheSessionStorage.removeCache("_realgaparams");
                    }catch(e){
                        console.log(e);
                    }
                })
            },
            updated: function(){
                // 复制功能
                let that = this
                let clipboard = new Clipboard('.mdui-btn-copy')
                clipboard.on('success', function(e) {
                    that.singleTips('複製成功')
                    // newMonitor.addMonitor({
                    //     'eventAims': 'COPY',
                    //     'eventName': 'CLICK',
                    //     'aimsCategory': 'EVENT',
                    // });
                }).on('error', function(e) {
                    that.singleTips('複製失敗,請您手動複製!')
                })
            },
            beforeDestroy: function(){
                clearInterval(this.timeChangeText);
            }
        })
    </script>
</body>
</html>